@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400;1,600&family=Roboto:wght@300&display=swap');
body  
{  
    margin: 0;  
    padding: 0;  
    background-color:white;  
    font-family: 'Montserrat', sans-serif;
    
}  
.login{  
        width: 320px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: black;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #000000;  
    padding: 20px; 
    font-size: 35px;
}  
label{  
    color: #fddb04;  
    font-size: 17px;   font-family: 'Montserrat', sans-serif;
    margin: 10px;
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;   font-family: 'Montserrat', sans-serif;
    margin: 10px;
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;   font-family: 'Montserrat', sans-serif;
    margin: 10px;
      
}  
#log{  
    width: auto;  
    height: 30px;  
    border: none;  
    border-radius: 5px;  
    padding: 0 20px;
    color: Black;  
    font-weight: 700;  font-family: 'Montserrat', sans-serif;
    margin: 10px;
    cursor: pointer;
  
  
}  
#log:hover{
    color: Black;  
    background-color: #fddb04;
}
.section3{
    height: 100vh;
    background-color: white;
  }
  
  
  .sec-head{
    background-color:transparent;
    padding: 20px;
    text-align: center;
  }
  
  .sec-head p{
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
    background-color: #ff1d86;
    display: inline;
    padding: 20px 30px;
    text-align: center;
    border-radius: 30px;
    border: 1px solid white;
  }
  
  .graph-1{
    height: 90vh;
    background-color:white;
    box-sizing: border-box;
    
    padding: 50px;
    border-radius: 5px;
    
  }
  
  .graph-1 iframe{
    width: 100%;
    height: 100%;
    
    border: 3px solid #ff1d86;
  }

  .dashboard{
      
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20vh;
      margin-bottom: 50px;

  }

  .data{
      height: 15vh;
      width: 200px;
      background-color: #fff9d5;
      border: 2px solid #fddb04;
      margin: 10px 40px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  