@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400;1,600&family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
.main-bar{
    background-color: rgb(24, 24, 24) !important;
    display: flow-root;
    padding: 0 10%;
}
#check{
    display: none;
}
.logo-header{
    display: table;
    float: left;
    vertical-align: middle;
    padding: 0;
    color: aliceblue;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    width: 180px;
    height: 68px;
    position: relative;
    z-index: 9;
    transition:  all 0.5s;
    -moz-transition: all 0.5s ;
    -webkit-transition: all 0.5s ;
    -o-transition:  all 0.5s;
}

.logo-header::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: -50px;
    width: 80%;
    transform: skew(30deg);
    background-color: #ffe10a;
}
.logo-header::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100%;
    z-index: -1;
    right: 10%;
    width: 2000px;
    background-color: #ffe10a;
}

.logo-header a{
    color: #22272b;
    font-size: 33px;
    font-weight: 600;
    line-height: 70px;
    text-decoration: none;

} 


ul{
    float: right;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    border-radius: 14px;

}

nav li.active a{
    color: #020101;
    background-color: #fddb04;
    border-radius: 14px;
}

nav li a{
    padding: 10px 20px;
    margin: 5px;
    border: 0;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    opacity: 1;
    text-decoration: none;
    transition: all 0.5s;
    border-radius: 14px;
}

nav li:hover a{
    color: #020101;
    background-color: #fddb0d;
    border-radius: 14px;
}

.firstsection{
    display: flex;
    justify-content: center;
       
}
h1.hedtex{
  
    font-size: 45px;
    font-weight: 700;
    padding-left: 100px;
    background-color: transparent;
    text-transform: uppercase;
    margin-bottom: 25px
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-bottom: 30px;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: black;
  font-size: 40px;
  font-weight: 800;
  position: relative;
  top: 0;
  animation: slide 5s steps(2) infinite;
}

.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 60px;
}

#inter-1{
    font-size: 1.5rem;
   position: absolute;
   top: 420px;
   left: 140px;

}

.btnyes{
position: relative;
left: 500px;
top: 80px;
color:black;
border: 1px solid;
border-radius: 10px;
border-color: black;
width: 80px;
padding: 10px;

}
.btnno{
position: relative;
left: 600px;
top: 35px;
color:black;
border: 1px solid;
border-radius: 10px;
border-color: black;

width: 150px;
padding: 10px;
}


.button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.btn1{
  
  color:black;
  border:solid;
  border-radius: 10px;
  border-color: black;
  margin-top: 10px;
  margin-right: 50px;
  width: 150px;
  margin-left: 450px;
  padding: 10px 10px 10px 10px;
}
.btn1:hover{
  background:transparent;
  color:Black;
  border:solid;
  border-color:#4b5563;
  border-radius: 10px;
  
} 
.btn2{
  background:transparent;
  color:black;
  border:solid;
  width: 150px;
  border-color: black;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}
.btn2:hover{
  background:transparent;
  color:black;
  border:solid;
  border-color:black;
  border-radius: 10px;
  
}
.card-container{
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 19px;
    flex-wrap: wrap;
}

.card{
    width: 350px;
    height: 60vh;
    margin-top: 50px;
    position: relative;
    background: black;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    transition: all .3s ease-in;
    font-family: 'Poppins', sans-serif;
    
}


.card > *{
    padding: 10px;
}

#buynow{
    background-color: #fddb04;
    color: #020101;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
}

#buynow:hover{
    background-color: #171717;
    color: #fddb04;
}

.card .card-title{
    padding: 0px 10px;
    margin: 20px 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-shadow: 1px 0px 2px #262654;
    border-bottom: #fddb04 2px solid;
}



.card .card-text{
    line-height: 20px;
    font-size: 400;
    text-align: center;
    margin: 20px 0;
    font-size: 0.8rem;
}


.header h1{
    margin-top: 29px;
    width: 290px;
    margin-left: 210px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    text-align: center;
    justify-content: center;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    
    
}
.djl{
    height: 100vh;
    width:100%;
}
.login{  
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #23463f;  
    border-radius: 15px ;  
      
}  
h2{  
text-align: center;  
color: #277582;  
padding: 20px;  
}  
label{  
color: #08ffd1;  
font-size: 17px;  
}  
#Uname{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
#Pass{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
  
}  
#log{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: blue;  


}  