<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static',filename='style.css')}}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>COURCES</title>
</head>
<body>
    <div class="main-bar">
        <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
        <span></span>
        <span></span>
        <span></span>
        </label>
        <div class="logo-header">
            <a href="#">Recursion</a>
        </div>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact US</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="#">Help?</a></li>
        </ul>
    </nav>
    </div>


    <section class="djl">
        
        <div class="header">
            <h1>Cources Recomanded</h1>
        </div>
    
    <div class="card-container">
       

        <div class="card">
            
            <div class="card-title">Web3  Technology</div>
            <div class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id repudiandae dolore veritatis  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id repudiandae dolore veritatisnisi eos delectus
            </div>
            <button id="buynow">Buy Now</button>
        </div>
        <div class="card">
            
            <div class="card-title">All About NFT's</div>
            <div class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id repudiandae dolore veritatis  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id repudiandae dolore veritatis nisi eos delectus
            </div>
            <button id="buynow">Buy Now</button>
        </div>

        <div class="card">
            
            <div class="card-title">Cryptocurrencies</div>
            <div class="card-text">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id repudiandae dolore veritatis  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id repudiandae dolore veritatisnisi eos delectus
            </div>
            <button id="buynow">Buy Now</button>
        </div>
     
    </div>

</section>
</body>
</html>