<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{  url_for('static',filename='order.css')}}" rel="stylesheet">
    <title>ORDER</title>
</head>
<body>
    <div class="main-bar">
        <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
        <span></span>
        <span></span>
        <span></span>
        </label>
        <div class="logo-header">
            <a href="#">Recursion</a>
        </div>
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact US</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Feedback</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    </div>
    <section class="sec-1">
        <div class="left-sec">
            <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.js"></script>
            <dotlottie-player src="https://assets6.lottiefiles.com/dotlotties/dlf10_dz8hjhlh.lottie"  background="transparent" 
            speed="2"  style="width: 750px; height: 650px;"  loop  autoplay></dotlottie-player>
        </div>
        <div class="right-sec">
            <div class="box1">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Expedita similique eaque magni incidunt, ipsum nam, accusamus 
                    quaerat, vero quas deserunt iure nulla odit odio laborum voluptates. Odio animi in eius.</p>

                    <div class="btn">
                        <button>Confirm</button>
                        <button>Go Back</button>
                    </div>
            </div>
        </div>


    </section>
    
</body>
</html>